:root{
    --primary: rgb(195, 230, 230);
    --dark: rgba(0, 0, 0, 0.174);
    --light: rgb(20, 234, 241);
    --shadow: 0 1px 5px rgba(77, 12, 255, 0.8);
}
*{
    font-family: 'Mali', cursive;
    color:var(--dark);
    box-sizing: border-box;
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}
body{
    background-color: var(--light);
    margin: 30px 50px;
    line-height: 1.4;
}
.btn{
    background-color: var(--dark);
    border-radius: 5px;
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}
.wrapper{
    display: grid;
    gap: 20px;
}
.main-nav ul{
    display: grid;
    gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4,1fr);
}
.main-nav a{
    background-color: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: var(--dark);
}
.main-nav a:hover{
    background-color: var(--dark);
    color: var(--light);
}

.top-container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
     "showcase showcase top-box-a"
     "showcase showcase top-box-b"
    ;
}

.showcase{
    grid-area: showcase;
    min-height: 400px;
    background: url('img/2222.jpg');
    background-size: cover;
    background-position: center;
    padding: 3rem;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.showcase h1{
    font-size: 4rem;
    margin-bottom: 0px;
}

.showcase p{
    font-size: 1.3rem;
    margin-top: 0;
}
.showcase h1, .showcase p{
    text-shadow: 2px 2px #333;
    color:var(--light);
}

.top-box{
    background-color: var(--primary);
    box-shadow: var(--shadow);
    padding: 1.5rem;
    display: grid;
    align-items: center;
    justify-items: center;
}
.top-box .price{
    font-size: 2.5rem;
}
.top-box-a{
    grid-area:top-box-a;
}

.top-box-b{
    grid-area:top-box-b;
}

.boxes{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box{
background-color: var(--primary);
text-align: center;
padding: 1.5rem 2rem;
box-shadow: var(--shadow);
}

@media(max-width: 990px){
    .top-container{
        grid-template-areas: 
        "showcase showcase "
        "top-box-a top-box-b";
     
    }
    .showcase h1{
        font-size: 2.5rem;
    }
    .main-nav ul{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width : 689px){
    .top-container{
        grid-template-areas: 
        "showcase  "
        "showcase  "
        "top-box-a"
        "top-box-b";
     
    }
    .showcase h1{
        font-size: 2.5rem;
    }
    .main-nav ul{
        grid-template-columns: repeat(1, 1fr);
    }
}